* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
    position: relative; /* Para garantir que a logo absoluta esteja dentro do header */
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: right;
    margin-right: 20px; /* Espaçamento do menu para o lado direito */
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #6b6b6b;
    text-decoration: none;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 5px;
}

h1 {
    margin-bottom: 20px;
}

section {
    padding: 20px;
    text-align: center;
}

.card-cardapio {
    max-width: 50%;
    height: 50%;
}

table {
    margin: 20px auto;
    width: 80%;
    border-collapse: collapse;
}

table > tbody > tr > td > img {
    max-width: 100px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

form {
    margin: 20px auto;
    width: 50%;
}

form input, form textarea, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer > p {
    padding: 5px 0px 5px 0px;
}

footer > img {
    border-radius: 20px;
    margin-left: 5px;
}

.whatsapp-button {
    background-color: #25d366;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
}

.social-buttons button {
    margin: 5px;
    padding: 10px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Ajuste para tornar a logo redonda e posicioná-la no canto superior esquerdo */
.logo {
    width: 100px; /* Ajuste o tamanho conforme necessário */
    height: 100px; /* Tornar a logo quadrada para aplicar border-radius */
    border-radius: 50%; /* Torna a imagem circular */
    position: absolute; /* Posiciona a logo de forma absoluta */
    top: 2px; /* Distância do topo */
    left: 5px; /* Distância da esquerda */
    object-fit: cover; /* Ajusta a imagem para cobrir a área de forma proporcional */
    background-color: #fff; /* Fundo branco para bordas não transparentes */
    border: 5px solid #ccc; /* Borda opcional */
}

header img {
    max-width: 150px;
    height: auto;
}

/* Ajusta o conteúdo principal para não sobrepor a logo */
header h1 {
    margin-left: 130px; /* Ajusta o título para não sobrepor a logo */
}
